.App{
   
    /* height: 100vh; */
    
    gap: 24px;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: aqua;
    font-size: xx-large;
    margin-top: 10;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:blueviolet;
    font-size: xx-large;
    margin-top: 10;
}

.third{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:aquamarine;
    font-size: xx-large;
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:bisque;
    font-size: xx-large;
}